<!DOCTYPE html>
<html>
    <head>
        <title>The Q-Dance Harder Styles Top 1000 songs</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" type="text/css" href="/tablesorter.default.css">
    </head>
    <body>
        <h2>All songs</h2>
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Artist</th>
                    <th>Song</th>
                </tr>
            </thead>
            <tbody>
                {{#songs}}
                <tr>
                    <td>{{place}}</td>
                    <td>{{artist}}</td>
                    <td>{{song}}</td>
                </tr>
                {{/songs}}
            </tbody>
        </table>
        <br>
        Song data &copy; Q-Dance 2014
        <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
        <script src="/jquery.tablesorter.min.js"></script>
        <script src="/jquery.tablesorter.widgets.min.js"></script>
        <script>
            $(function(){
	        $('table').tablesorter({
	            widgets        : ['zebra', 'columns'],
	            usNumberFormat : false,
	            sortReset      : true,
	            sortRestart    : true
	        });
	    });
        </script>
    </body>
</html>
